.nav-custom-style{
  background-color: green;
  border: 1px solid #fff;
}

#bs-example-navbar-collapse-1 > ul > li > a{
  color: #fff;
}

.navbar-menu{
  margin-top: 55px;
  margin-left: 25%;
  width: 50%;
  background-color: #000000;
}
.contain-page{
	margin-top: 150px;
}